# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 79ba79f5442c294f144dfd7056326294ff52e3cf7441a419b0aad49ec137e39cfff70df0bde671281a2cf7a3538289cf6ca4d41ea15601c5ab779b6fe0258cc8

test:
  secret_key_base: 75ad2ae6b96fbf7b1da38c5bd25ed31279e978f6040103546d9950665260fe7f33d3d0bce0d34408b7201dbb677d33893424ecaf2d1ef5d00f8113f1a9fe7922

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: e4c3ef799b8115fcae9caca43fd76a0581a33aa3a978dec276a457af9f4fb965f50027c738a0924093b46ec9bc4cd6a9bfbb951332bbac2a9204a3d7eb37103d
